<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Storc | Character Generator</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <div class="nav-l">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='storctitle.png') }}" alt="Storc" height="45px">
                </a>
            </div>
            <div class="nav-r">
                <ul>
                    <li><a href="#">New Character</a></li>
                </ul>
            </div>
        </nav>
        <div class="main">
            <div class="center">
                <button type="button" onclick="scramble()" class="button button-r">Scramble</button>
                <h2>{{ name }}</h2>
                <div class="box-l">
                    <h3>Physical Qualities</h3>
                    <table>
                        <tr>
                            <td class="key">Gender: </td>
                            <td id="gender">{{ gender }}</td>
                        </tr>
                        <tr>
                            <td class="key">Height: </td>
                            <td id="height">Height</td>
                        </tr>
                        <tr>
                            <td class="key">Weight: </td>
                            <td id="weight">Weight</td>
                        </tr>
                        <tr>
                            <td class="key">Hair color: </td>
                            <td id="hair_color">Hair color</td>
                        </tr>
                        <tr>
                            <td class="key">Eye color: </td>
                            <td id="eye_color">Eye color</td>
                        </tr>
                        <tr>
                            <td class="key">Unique Attribute: </td>
                            <td id="unique_attribute">Eye color</td>
                        </tr>
                    </table>
                </div>
                <div class="box-r">
                    <h3>About Me</h3>
                    <table>
                        <tr>
                            <td class="key">Favorite clothes:</td>
                            <td id="favorite_clothes">favorite clothes</td>
                        </tr>
                        <tr>
                            <td class="key" rowspan="2">Common Mannerisms:</td>
                            <td id="mannerism_one">mannerism one</td>
                        </tr>
                        <tr>
                            <td id="mannerism_two">mannerism two</td>
                        </tr>
                        <tr>
                            <td class="key">Speaking Style:</td>
                            <td id="speaking_style">speaking style</td>
                        </tr>
                    </table>
                </div>
                <div class="box-l">
                    <h3>Other</h3>
                    <table>
                        <tr>
                            <td class="key">Item:</td>
                            <td>Important information</td>
                        </tr>
                        <tr>
                            <td class="key">Item:</td>
                            <td>Additional important information</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
