<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Storc | Character Generator</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <div class="nav-l">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='storctitle.png') }}" alt="Storc" height="45px">
                </a>
            </div>
            <div class="nav-r">
                <ul>
                    <li><a href="#">New Character</a></li>
                </ul>
            </div>
        </nav>
        <div class="main">
            <div class="center">
                <button type="button" onclick="scramble()" class="button button-r">Scramble</button>
                <h2 id="name">{{ name }}</h2>
                <div class="box-l">
                    <h3>Physical Qualities</h3>
                    <table>
                        <tr>
                            <td class="key">Gender: </td>
                            <td id="gender">{{ gender }}</td>
                        </tr>
                        <tr>
                            <td class="key">Height: </td>
                            <td id="height">Height</td>
                            <td><button id="mix_height" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Weight: </td>
                            <td id="weight">Weight</td>
                            <td><button id="mix_weight" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Hair color: </td>
                            <td id="hair_color">Hair color</td>
                            <td><button id="mix_hair_color" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Eye color: </td>
                            <td id="eye_color">Eye color</td>
                            <td><button id="mix_eye_color" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Unique Attribute: </td>
                            <td id="unique_attribute">unique attribute</td>
                            <td><button id="mix_unique_attribute" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                    </table>
                </div>
                <div class="box-r">
                    <h3>About Me</h3>
                    <table>
                        <tr>
                            <td class="key" rowspan="2">Common Mannerisms:</td>
                            <td id="mannerism_one">mannerism one</td>
                            <td rowspan="2"><button id="mix_mannerisms" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr class="no-border">
                            <td id="mannerism_two">mannerism two</td>
                        </tr>
                        <tr>
                            <td class="key">Speaking Style:</td>
                            <td id="speaking_style">speaking style</td>
                            <td><button id="mix_speaking_style" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Skill:</td>
                            <td id="skill">skill</td>
                            <td><button id="mix_skill" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Flaw:</td>
                            <td id="flaw">flaw</td>
                            <td><button id="mix_flaw" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Fear:</td>
                            <td id="fear">fear</td>
                            <td><button id="mix_fear" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Favorite Thing:</td>
                            <td id="favorite">favorite thing</td>
                            <td><button id="mix_favorite" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Family:</td>
                            <td id="family">family</td>
                            <td><button id="mix_family" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Friends:</td>
                            <td id="friends">friends</td>
                            <td><button id="mix_friends" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Significant Other:</td>
                            <td id="significant_other">significant other</td>
                            <td><button id="mix_significant_other" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                    </table>
                </div>
                <div class="box-l">
                    <h3>My Style</h3>
                    <table>
                        <tr>
                            <td class="key">Favorite clothes:</td>
                            <td id="favorite_clothes">favorite clothes</td>
                            <td><button id="mix_favorite_clothes" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                        <tr>
                            <td class="key">Hair:</td>
                            <td id="hair">hair</td>
                            <td><button id="mix_hair" type="button" class="button mix_attribute">Mix</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
