<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Story Character Generator</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <div class="nav-l">
                <a href="{{ url_for('home') }}">Story Character Generator</a>
            </div>
            <div class="nav-r">
                <ul>
                    <li><a href="#">New Character</a></li>
                </ul>
            </div>
        </nav>
        <div class="main">
            <div class="center">
                <h2>{{ name }}</h2>
                <h3>Physical Qualities</h3>
                <table>
                    <tr>
                        <td class="key">Gender: </td>
                        <td id="gender">{{ gender }}</td>
                    </tr>
                    <tr>
                        <td class="key">Height: </td>
                        <td id="height">Height</td>
                    </tr>
                    <tr>
                        <td class="key">Weight: </td>
                        <td id="weight">Weight</td>
                    </tr>
                    <tr>
                        <td class="key">Hair color: </td>
                        <td id="hair_color">Hair color</td>
                    </tr>
                    <tr>
                        <td class="key">Eye color: </td>
                        <td id="eye_color">Eye color</td>
                    </tr>
                </table>
            </div>
        </div>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
