.container{
    max-width: 1000px;
    margin: auto;
}

.box{
    background: #ffffff;
    padding: 25px;
    vertical-align: top;
    margin: 0 15px 0 15px;
}

.multi{
    display: inline-block;
}

.block{
    display: block;
}

.widest{
    width: 800px;
}

.wider{
    width: 600px;
}

.wide{
    width: 575px;
}

.medium{
    width: 425px;
}

.narrow{
    width: 300px;
}

.narrower{
    width: 250px;
}

.narrowest{
    width: 150px;
}

.left{
    float: left;
}

.left-auto-margin{
    margin-left: auto;
}

.right{
    float: right;
}

.mobile-right{
    float: right;
}

.center{
    margin: auto;
}

.center-text{
    text-align: center;
}

.small-font{
    font-size: small;
}

.large-font{
    font-size: large;
}

.character-list{
    font-size: large;
    margin-bottom: 10px;
    margin-left: 20px;
}

.option-list{
    font-size: larger;
    line-height: 1.6;
    margin-left: 20px;
}

.profile-picture{
    border-radius: 100%;
}

.tiny{
    height: 30px;
}

.large{
    height: 200px;
    width: 200px;
}

.next-to-pic{
    position: relative;
    top: 7px;
    padding-left: 8px;
}

.spaced{
    line-height: 2;
}

.margin-right{
    margin-right: 10px;
}

.mobile-only{
    display: none;
}

.facebook{
    background-color: #4267b2;
}

.google{
    background-color: #d93025;
}
