.container{
    max-width: 1000px;
    margin: auto;
}

.box{
    background: #ffffff;
    padding: 25px;
    vertical-align: top;
    margin: 0 15px 0 15px;
}

.multi{
    display: inline-block;
}

.tall{
    height: 550px;
}

.wide{
    width: 575px;
}

.narrow{
    width: 300px;
}

.narrower{
    width: 250px;
}

.narrowest{
    width: 150px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.center{
    margin: auto;
}

.center-text{
    text-align: center;
}

.small-font{
    font-size: small;
}

.large-font{
    font-size: large;
}

.character-list{
    font-size: large;
    line-height: 1.6;
    margin-left: 20px;
}

.option-list{
    font-size: larger;
    line-height: 1.6;
    margin-left: 20px;
}

.profile-picture{
    border-radius: 100%;
}

.tiny{
    height: 30px;
}

.large{
    height: 200px;
}

.next-to-pic{
    position: relative;
    top: 7px;
    padding-left: 8px;
}

.spaced{
    line-height: 2;
}

.margin-right{
    margin-right: 10px;
}
