.flash{
    font-size: large;
    font-style: italic;
    text-align: center;
    margin-bottom: 5px;
    padding: 0 25px;
    background-color: #ffffff;
}

.good{
    box-shadow: 0 0 10px #b3e6cc;
}

.bad{
    box-shadow: 0 0 10px #e6b3cc;
}

.neutral{
    box-shadow: 0 0 10px #b3cce6;
}
