.menu{
    position: relative;
    display: inline-block;
}

.menu span{
    padding-bottom: 17px;
}

.menu-content{
    color: #ffffff;
    background-color: #4080bf;
    position: absolute;
    top: 35px;
    display: none;
    width: 100%;
    z-index: +1;
}

.menu:hover{
    text-shadow: 0 0 5px #ffffff;
}

.menu:hover .menu-content{
    display: block;
}

.menu:hover .menu-content li{
    display: block;
}

.menu:hover .menu-content a{
    display: block;
}

.menu-content li{
    padding: 0;
}

.menu-content a{
    transition: 0s;
    text-shadow: 0 0 0;
    text-align: center;
    line-height: 1.8;
}

.menu-content a:hover{
    transition: 0s;
    background-color: #b3cce6;
    color: #336699;
    text-shadow: 0 0 0;
}
