{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box wide center">
        <h2>
            {% if user %}
                {% if current_user==user %}
                    {% if characters %}
                        My Characters
                    {% else %}
                        My Favorites
                    {% endif %}
                {% elif characters %}
                    Characters by <a href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a>
                {% else %}
                    Favorites of <a href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a>
                {% endif %}
            {% elif gender %}
                {{ gender }} Characters
            {% else %}
                All Characters
            {% endif %}
        </h2>
        {% if characters %}
            <ul>
                {% for character in characters.items %}
                    <li class="character-list"><a href="{{ url_for('characters.character', id=character.id) }}">{{ character.name }}</a> by <a href="{{ url_for('users.profile', username=character.user.username) }}">{{ character.user.username }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <ul>
                {% for character in favorites_list %}
                    <li class="character-list"><a href="{{ url_for('characters.character', id=character.id) }}">{{ character.name }}</a> by <a href="{{ url_for('users.profile', username=character.user.username) }}">{{ character.user.username }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <br>
        <ul class="center-text">
            {% if characters %}
                {% for page_num in characters.iter_pages() %}
                    <li class="multi">
                        {% if page_num %}
                            {% if page_num == page %}
                                    <strong>{{ page_num }}</strong>
                            {% else %}
                                {% if user %}
                                    <a class="" href="{{ url_for('characters.all_characters', page_num=page_num, gender=gender, user=user.username) }}">{{ page_num }}</a>
                                {% else %}
                                    <a class="" href="{{ url_for('characters.all_characters', page_num=page_num, gender=gender) }}">{{ page_num }}</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}
