{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box tall">
        <span class="right next-to-pic"> <a href="{{ url_for('users.profile', username=character.user.username)}}">{{ character.user.username }}</a></span>
        <img src="{{ image_path }}" alt="profile picture" class="profile-picture tiny right">
        <h2 id="name">{{ character.name }}{% if character.private %} <span class="small-font">(Private)</span>{% endif %}</h2>
        <div class="narrow left">
            <h3>Physical Qualities</h3>
            <table>
                <tr>
                    <td>Gender: </td>
                    <td>{{ character.gender }}</td>
                </tr>
                <tr>
                    <td>Height: </td>
                    <td>{{ character.height }}</td>
                </tr>
                <tr>
                    <td>Weight: </td>
                    <td>{{ character.weight }}</td>
                </tr>
                <tr>
                    <td>Hair color: </td>
                    <td>{{ character.hair_color }}</td>
                </tr>
                <tr>
                    <td>Eye color: </td>
                    <td>{{ character.eye_color }}</td>
                </tr>
                <tr>
                    <td>Unique Attribute: </td>
                    <td>{{ character.unique_attribute }}</td>
                </tr>
            </table>
            <br>
            <h3>My Style</h3>
            <table>
                <tr>
                    <td>Favorite clothes:</td>
                    <td>{{ character.favorite_clothes }}</td>
                </tr>
                <tr>
                    <td>Hair:</td>
                    <td>{{ character.hair }}</td>
                </tr>
            </table>
        </div>
        <div class="wide left-auto-margin">
            <h3>About Me</h3>
            <table>
                <tr>
                    <td rowspan="2">Common Mannerisms:</td>
                    <td>{{ character.mannerism_one }}</td>
                </tr>
                <tr class="second-cell">
                    <td class="second-cell" id="mannerism_two">{{ character.mannerism_two }}</td>
                </tr>
                <tr>
                    <td>Speaking Style:</td>
                    <td>{{ character.speaking_style }}</td>
                </tr>
                <tr>
                    <td>Skill:</td>
                    <td>{{ character.skill }}</td>
                </tr>
                <tr>
                    <td>Flaw:</td>
                    <td>{{ character.flaw }}</td>
                </tr>
                <tr>
                    <td>Fear:</td>
                    <td>{{ character.fear }}</td>
                </tr>
                <tr>
                    <td>Favorite Thing:</td>
                    <td>{{ character.favorite }}</td>
                </tr>
                <tr>
                    <td>Family:</td>
                    <td>{{ character.family }}</td>
                </tr>
                <tr>
                    <td>Friends:</td>
                    <td>{{ character.friends }}</td>
                </tr>
                <tr>
                    <td>Significant Other:</td>
                    <td>{{ character.significant_other }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    {% if current_user.is_authenticated %}
        <div class="box narrow center">
            <ul class="center-text spaced">
                {% if character.user == current_user %}
                    {% if character.private %}
                        <li class="multi"><button id="private" type="button">Make Public</button></li>
                    {% else %}
                        <li class="multi"><button id="private" type="button">Make Private</button></li>
                    {% endif %}
                    <li class="multi"><a href="{{ url_for('characters.edit', id=character.id) }}"><button type="button">Edit</button></a></li>
                    <li class="multi"><button id="delete" type="button">Delete</button></li>
                {% endif %}
                {% if not character.private %}
                    {% if not favorite %}
                        {% if favorites_permitted %}
                            <li class="multi"><a href="{{ url_for('characters.add_favorite', id=character.id) }}"><button type="button" name="button">Add to Favorites</button></a></li>
                        {% else %}
                            <li class="multi"><button id="max_favorites" type="button" name="button">(Maximum Favorites)</button></li>
                        {% endif %}
                    {% else %}
                        <li class="multi"><button id="remove_favorite" type="button" name="button">Remove from Favorites</button></li>
                    {% endif %}
                {% endif %}
                <li class="multi"><a href="{{ url_for('characters.print_character', id=character.id) }}"><button type="button" name="button">Print</button></a></li>
            </ul>
        </div>
    {% endif %}
</div>
{% if character.user == current_user %}
    <script type="text/javascript">
        let character_id = {'id': {{ character.id }}}

        document.getElementById('private').addEventListener('click', function() {
            let characterPromise = $.post(
                "{{ url_for('characters.change_privacy') }}", character_id
            );
            function characterRedirect(value) {
                console.log(`Message: ${value}`);
                window.location = "{{ url_for('characters.character', id=character.id) }}";
            };
            characterPromise.then(
                value => characterRedirect(value),
                error => console.log(`Message: ${error}`)
            );
        });

        document.getElementById('delete').addEventListener('click', function() {
            let deleteConfirm = window.confirm('Are you sure you want to delete {{ character.name }}?');
            if (deleteConfirm) {
                let deletePromise = $.post(
                    "{{ url_for('characters.delete', id=character.id) }}", character_id
                );
                function homeRedirect(value) {
                    console.log(`Message: ${value}`);
                    window.location = "{{ url_for('main.home') }}";
                };
                deletePromise.then(
                    value => homeRedirect(value),
                    error => console.log(`Message: ${error}`)
                );
            }
        });

        document.getElementById('max_favorites').addEventListener('click', function() {
            window.alert('You have reached the maximum allowed number of favorites (20).');
        });

        document.getElementById('remove_favorite').addEventListener('click', function() {
            let removeConfirm = window.confirm('Are you sure you want to remove {{ character.name }} from your Favorites?');
            if (removeConfirm) {
                window.location = "{{ url_for('characters.remove_favorite', id=character.id) }}"
            }
        });
    </script>
{% endif %}
{% endblock content %}
