{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box tall">
        <span class="right">{{ character.user.username }}</span>
        <h2 id="name">{{ character.name }}</h2>
        <div class="narrow left">
            <h3>Physical Qualities</h3>
            <table>
                <tr>
                    <td>Gender: </td>
                    <td>{{ character.gender }}</td>
                </tr>
                <tr>
                    <td>Height: </td>
                    <td>{{ character.height }}</td>
                </tr>
                <tr>
                    <td>Weight: </td>
                    <td>{{ character.weight }}</td>
                </tr>
                <tr>
                    <td>Hair color: </td>
                    <td>{{ character.hair_color }}</td>
                </tr>
                <tr>
                    <td>Eye color: </td>
                    <td>{{ character.eye_color }}</td>
                </tr>
                <tr>
                    <td>Unique Attribute: </td>
                    <td>{{ character.unique_attribute }}</td>
                </tr>
            </table>
            <br>
            <h3>My Style</h3>
            <table>
                <tr>
                    <td>Favorite clothes:</td>
                    <td>{{ character.favorite_clothes }}</td>
                </tr>
                <tr>
                    <td>Hair:</td>
                    <td>{{ character.hair }}</td>
                </tr>
            </table>
        </div>
        <div class="wide right">
            <h3>About Me</h3>
            <table>
                <tr>
                    <td rowspan="2">Common Mannerisms:</td>
                    <td>{{ character.mannerism_one }}</td>
                </tr>
                <tr class="second-cell">
                    <td class="second-cell" id="mannerism_two">{{ character.mannerism_two }}</td>
                </tr>
                <tr>
                    <td>Speaking Style:</td>
                    <td>{{ character.speaking_style }}</td>
                </tr>
                <tr>
                    <td>Skill:</td>
                    <td>{{ character.skill }}</td>
                </tr>
                <tr>
                    <td>Flaw:</td>
                    <td>{{ character.flaw }}</td>
                </tr>
                <tr>
                    <td>Fear:</td>
                    <td>{{ character.fear }}</td>
                </tr>
                <tr>
                    <td>Favorite Thing:</td>
                    <td>{{ character.favorite }}</td>
                </tr>
                <tr>
                    <td>Family:</td>
                    <td>{{ character.family }}</td>
                </tr>
                <tr>
                    <td>Friends:</td>
                    <td>{{ character.friends }}</td>
                </tr>
                <tr>
                    <td>Significant Other:</td>
                    <td>{{ character.significant_other }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
</div>
{% endblock content %}
