{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box tall">
        <span class="right">{{ character.user.username }}</span>
        <h2 id="name">{{ character.name }}{% if character.private %} <span class="small-font">(Private)</span>{% endif %}</h2>
        <div class="narrow left">
            <h3>Physical Qualities</h3>
            <table>
                <tr>
                    <td>Gender: </td>
                    <td>{{ character.gender }}</td>
                </tr>
                <tr>
                    <td>Height: </td>
                    <td>{{ character.height }}</td>
                </tr>
                <tr>
                    <td>Weight: </td>
                    <td>{{ character.weight }}</td>
                </tr>
                <tr>
                    <td>Hair color: </td>
                    <td>{{ character.hair_color }}</td>
                </tr>
                <tr>
                    <td>Eye color: </td>
                    <td>{{ character.eye_color }}</td>
                </tr>
                <tr>
                    <td>Unique Attribute: </td>
                    <td>{{ character.unique_attribute }}</td>
                </tr>
            </table>
            <br>
            <h3>My Style</h3>
            <table>
                <tr>
                    <td>Favorite clothes:</td>
                    <td>{{ character.favorite_clothes }}</td>
                </tr>
                <tr>
                    <td>Hair:</td>
                    <td>{{ character.hair }}</td>
                </tr>
            </table>
        </div>
        <div class="wide right">
            <h3>About Me</h3>
            <table>
                <tr>
                    <td rowspan="2">Common Mannerisms:</td>
                    <td>{{ character.mannerism_one }}</td>
                </tr>
                <tr class="second-cell">
                    <td class="second-cell" id="mannerism_two">{{ character.mannerism_two }}</td>
                </tr>
                <tr>
                    <td>Speaking Style:</td>
                    <td>{{ character.speaking_style }}</td>
                </tr>
                <tr>
                    <td>Skill:</td>
                    <td>{{ character.skill }}</td>
                </tr>
                <tr>
                    <td>Flaw:</td>
                    <td>{{ character.flaw }}</td>
                </tr>
                <tr>
                    <td>Fear:</td>
                    <td>{{ character.fear }}</td>
                </tr>
                <tr>
                    <td>Favorite Thing:</td>
                    <td>{{ character.favorite }}</td>
                </tr>
                <tr>
                    <td>Family:</td>
                    <td>{{ character.family }}</td>
                </tr>
                <tr>
                    <td>Friends:</td>
                    <td>{{ character.friends }}</td>
                </tr>
                <tr>
                    <td>Significant Other:</td>
                    <td>{{ character.significant_other }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    {% if character.user == current_user %}
        <div class="box narrow center">
            <ul class="center-text">
                {% if character.private %}
                    <li class="multi"><button id="private" type="button">Make Public</button></li>
                {% else %}
                    <li class="multi"><button id="private" type="button">Make Private</button></li>
                {% endif %}
                <li class="multi"><a href="{{ url_for('characters.edit', id=character.id) }}"><button type="button">Edit</button></a></li>
                <li class="multi"><a href="#"><button type="button">Delete</button></a></li>
            </ul>
        </div>
    {% endif %}
</div>
{% if character.user == current_user %}
    <script type="text/javascript">
        document.getElementById('private').addEventListener('click', function() {
            character_id = {'id': {{ character.id }}}
            let characterPromise = $.post(
                "{{ url_for('characters.change_privacy') }}", character_id
            );
            function characterRedirect(value) {
                console.log(`Message: ${value}`);
                window.location = "{{ url_for('characters.character', id=character.id) }}";
            };
            characterPromise.then(
                value => characterRedirect(value),
                error => console.log(`Message: ${error}`)
            );
        });
    </script>
{% endif %}
{% endblock content %}
