{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box wide left multi">
        <h1>Welcome to Storc</h1>
        <br>
        <em>Delivering unique characters for your next creative work!</em>
        <br>
        <br>
        <h2>What is Storc?</h2>
        <p>Storc was created to inspire writers by providing unique, dynamic characters for any literary work.</p>
        <br>
        <p>Storc allows you to make randomly generated characters, complete with unique names! The goal to help you get a jump start on your next writing project, or to assist you in getting through a tough writer's block.</p>
        <br>
        <br>
        <p>Want to <a href="{{ url_for('characters.new_character') }}">give it a try</a>?</p>
    </div>
    <div class="box narrower right multi">
        <h2>Recent Characters</h2>
        <ul>
            {% for character in characters %}
                <li class="character-list"><a href="{{ url_for('characters.character', id=character.id) }}">{{ character.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
