{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box narrow center">
        <h2>Log In</h2>
        <ul class="center-text">
            {% if next_page %}
                <li class="spaced"><a href="{{ url_for('users.email_login', next=next_page) }}"><button type="button" name="button">Log in with Email</button></a></li>
                <li class="spaced"><a href="{{ url_for('facebook.login', next=next_page) }}"><button type="button" name="button">Log in with Facebook</button></a></li>
                <li class="spaced"><a href="{{ url_for('google.login', next=next_page) }}"><button type="button" name="button">Log in with Google</button></a></li>
            {% else %}
                <li class="spaced"><a href="{{ url_for('users.email_login') }}"><button type="button" name="button">Log in with Email</button></a></li>
                <li class="spaced"><a href="{{ url_for('facebook.login') }}"><button type="button" name="button">Log in with Facebook</button></a></li>
                <li class="spaced"><a href="{{ url_for('google.login') }}"><button type="button" name="button">Log in with Google</button></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}
