{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box tall">
        <button type="button" onclick="scramble()" class="right">Scramble</button>
        <h2 id="name">{{ name }}</h2>
        <div class="narrow left">
            <h3>Physical Qualities</h3>
            <table>
                <tr>
                    <td>Gender: </td>
                    <td id="gender">{{ gender }}</td>
                </tr>
                <tr>
                    <td>Height: </td>
                    <td id="height">Height</td>
                    <td><button id="mix_height" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Weight: </td>
                    <td id="weight">Weight</td>
                    <td><button id="mix_weight" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Hair color: </td>
                    <td id="hair_color">Hair color</td>
                    <td><button id="mix_hair_color" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Eye color: </td>
                    <td id="eye_color">Eye color</td>
                    <td><button id="mix_eye_color" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Unique Attribute: </td>
                    <td id="unique_attribute">unique attribute</td>
                    <td><button id="mix_unique_attribute" type="button">Mix</button></td>
                </tr>
            </table>
            <br>
            <h3>My Style</h3>
            <table>
                <tr>
                    <td>Favorite clothes:</td>
                    <td id="favorite_clothes">favorite clothes</td>
                    <td><button id="mix_favorite_clothes" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Hair:</td>
                    <td id="hair">hair</td>
                    <td><button id="mix_hair" type="button">Mix</button></td>
                </tr>
            </table>
        </div>
        <div class="wide right">
            <h3>About Me</h3>
            <table>
                <tr>
                    <td rowspan="2">Common Mannerisms:</td>
                    <td id="mannerism_one">mannerism one</td>
                    <td rowspan="2"><button id="mix_mannerisms" type="button">Mix</button></td>
                </tr>
                <tr class="second-cell">
                    <td class="second-cell" id="mannerism_two">mannerism two</td>
                </tr>
                <tr>
                    <td>Speaking Style:</td>
                    <td id="speaking_style">speaking style</td>
                    <td><button id="mix_speaking_style" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Skill:</td>
                    <td id="skill">skill</td>
                    <td><button id="mix_skill" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Flaw:</td>
                    <td id="flaw">flaw</td>
                    <td><button id="mix_flaw" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Fear:</td>
                    <td id="fear">fear</td>
                    <td><button id="mix_fear" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Favorite Thing:</td>
                    <td id="favorite">favorite thing</td>
                    <td><button id="mix_favorite" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Family:</td>
                    <td id="family">family</td>
                    <td><button id="mix_family" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Friends:</td>
                    <td id="friends">friends</td>
                    <td><button id="mix_friends" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Significant Other:</td>
                    <td id="significant_other">significant other</td>
                    <td><button id="mix_significant_other" type="button">Mix</button></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="box narrow center">
        <ul class="center-text">
            {% if current_user.is_authenticated %}
                <li class="multi"><button id="save" type="button">Save</button></li>
            {% else %}
                <li class="multi"><em>The character above will not be saved. You'll have to <a href="{{ url_for('email_login', next='new_character') }}">log in</a> to save characters!</em></li>
            {% endif %}
        </ul>
    </div>
</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript">
    document.getElementById('save').addEventListener('click', function() {
        let newCharacter = new Character;
        let characterPromise = $.post(
            "{{ url_for('save_character') }}", newCharacter
        );
        window.location = "{{ url_for('home')}}";
    });
</script>
{% endblock content %}
