{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box tall">
        <button type="button" onclick="scramble()" class="right">Scramble</button>
        <h2 id="name">{{ name }}</h2>
        <div class="narrow left">
            <h3>Physical Qualities</h3>
            <table>
                <tr>
                    <td>Gender: </td>
                    <td id="gender">{{ gender }}</td>
                </tr>
                <tr>
                    <td>Height: </td>
                    <td id="height">{% if character %}{{ character.height }}{% endif %}</td>
                    <td><button id="mix_height" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Weight: </td>
                    <td id="weight">{% if character %}{{ character.weight }}{% endif %}</td>
                    <td><button id="mix_weight" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Hair color: </td>
                    <td id="hair_color">{% if character %}{{ character.hair_color }}{% endif %}</td>
                    <td><button id="mix_hair_color" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Eye color: </td>
                    <td id="eye_color">{% if character %}{{ character.eye_color }}{% endif %}</td>
                    <td><button id="mix_eye_color" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Unique Attribute: </td>
                    <td id="unique_attribute">{% if character %}{{ character.unique_attribute }}{% endif %}</td>
                    <td><button id="mix_unique_attribute" type="button">Mix</button></td>
                </tr>
            </table>
            <br>
            <h3>My Style</h3>
            <table>
                <tr>
                    <td>Favorite clothes:</td>
                    <td id="favorite_clothes">{% if character %}{{ character.favorite_clothes }}{% endif %}</td>
                    <td><button id="mix_favorite_clothes" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Hair:</td>
                    <td id="hair">{% if character %}{{ character.hair }}{% endif %}</td>
                    <td><button id="mix_hair" type="button">Mix</button></td>
                </tr>
            </table>
        </div>
        <div class="wide right">
            <h3>About Me</h3>
            <table>
                <tr>
                    <td rowspan="2">Common Mannerisms:</td>
                    <td id="mannerism_one">{% if character %}{{ character.mannerism_one }}{% endif %}</td>
                    <td rowspan="2"><button id="mix_mannerisms" type="button">Mix</button></td>
                </tr>
                <tr class="second-cell">
                    <td class="second-cell" id="mannerism_two">{% if character %}{{ character.mannerism_two }}{% endif %}</td>
                </tr>
                <tr>
                    <td>Speaking Style:</td>
                    <td id="speaking_style">{% if character %}{{ character.speaking_style }}{% endif %}</td>
                    <td><button id="mix_speaking_style" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Skill:</td>
                    <td id="skill">{% if character %}{{ character.skill }}{% endif %}</td>
                    <td><button id="mix_skill" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Flaw:</td>
                    <td id="flaw">{% if character %}{{ character.flaw }}{% endif %}</td>
                    <td><button id="mix_flaw" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Fear:</td>
                    <td id="fear">{% if character %}{{ character.fear }}{% endif %}</td>
                    <td><button id="mix_fear" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Favorite Thing:</td>
                    <td id="favorite">{% if character %}{{ character.favorite }}{% endif %}</td>
                    <td><button id="mix_favorite" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Family:</td>
                    <td id="family">{% if character %}{{ character.family }}{% endif %}</td>
                    <td><button id="mix_family" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Friends:</td>
                    <td id="friends">{% if character %}{{ character.friends }}{% endif %}</td>
                    <td><button id="mix_friends" type="button">Mix</button></td>
                </tr>
                <tr>
                    <td>Significant Other:</td>
                    <td id="significant_other">{% if character %}{{ character.significant_other }}{% endif %}</td>
                    <td><button id="mix_significant_other" type="button">Mix</button></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="box narrow center">
        <ul class="center-text">
            {% if current_user.is_authenticated %}
                <li class="multi"><button id="save" type="button">Save</button></li>
            {% else %}
                <li class="multi"><em>The character above will not be saved. You'll have to <a href="{{ url_for('main.login', next='new_character') }}">log in</a> to save characters!</em></li>
            {% endif %}
        </ul>
    </div>
</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript">
    document.getElementById('save').addEventListener('click', function() {
        let newCharacter = new Character;
        let characterPromise = $.post(
            {% if character %}
                "{{ url_for('characters.edit', id=character.id) }}", newCharacter
            {% else %}
                "{{ url_for('characters.save_character') }}", newCharacter
            {% endif %}
        );
        function characterRedirect(value) {
            console.log(`Message: ${value}`);
            {% if character %}
                window.location = "{{ url_for('characters.character', id=character.id) }}"
            {% else %}
                window.location = "{{ url_for('characters.save_character') }}";
            {% endif %}
        };
        characterPromise.then(
            value => characterRedirect(value),
            error => console.log(`Message: ${error}`)
        );
    });
</script>
{% if not character %}
    <script type="text/javascript">
        scramble();
    </script>
{% endif %}
{% endblock content %}
