<pre>PRIVACY POLICY

Storc (storc.herokuapp.com) is committed to its users' privacy and security.
Please take note of our information practices:

We do not collect any identifying information from our users unless our
users provide it voluntarily. Users have the option to provide a first name
and email address to sign up via email, or users may log in with Google or
Facebook, in which case we receive and use the user's first name and profile
picture. Users may also upload their own profile pictures. This information
is used only for website functionality. Users' email addresses are only used
for verification purposes and are never shared. Please be aware that users'
usernames and profile pictures will be displayed on the site, which is
publicly viewable.

We have set up security measures to ensure that users' provided information,
such as email addresses, remains secure. Please be aware that the site uses
"cookies," small bits of information stored on users' computers, to enhance
the site's functionality. We use cookies only to enhance user experience by
saving session information, remembering a user, etc. Our cookies never track
users, nor store or share identifying information.

If you have any questions or concerns about Storc website or the privacy
policy, you may contact us at the following email address:

storcwebsite@gmail.com</pre>
