{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box narrow center">
        <h2>Enter Your New Password</h2>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {% if form.password.errors %}
                <h4>{{ form.password.label(class="error") }}</h4>
                {{ form.password(class="form-field error-field") }}
                {% for error in form.password.errors %}
                    <span class="error small-font">{{ error }}</span>
                {% endfor %}
            {% else %}
                <h4>{{ form.password.label }}</h4>
                {{ form.password(class="form-field") }}
            {% endif %}
            <br>
            <br>
            {% if form.confirm_password.errors %}
                <h4>{{ form.confirm_password.label(class="error") }}</h4>
                {{ form.confirm_password(class="form-field error-field") }}
                {% for error in form.confirm_password.errors %}
                    <span class="error small-font">{{ error }}</span>
                {% endfor %}
            {% else %}
                <h4>{{ form.confirm_password.label }}</h4>
                {{ form.confirm_password(class="form-field") }}
            {% endif %}
            <br>
            <br>
            {{ form.submit(class="submit") }}
        </form>
    </div>
</div>
{% endblock content %}
